<div>
  <h1>{{citation.title}}</h1>
  <h2>Citation Information</h2>
  <a href='/source/{{citation.sourceId}}'><p>Source:
      {{source.title}}</p></a>
  <p>Location: {{citation.location}}</p>
  <p>Notes: {{citation.notes}}</p>
  <a href='/citations/{{citation.id}}/edit'>Edit</a>
</div>