<form method='POST' action='/citations/{{citation.id}}?_method=PUT'>
  <fieldset>
    <legend>"Edit {{citation.title}}"</legend>
    <p>
      <label for='title'>Citation Title</label><br />
      <input type='text' id='title' name='title' value='{{citation.title}}' />
    </p>
    <p>
      <label for='sourceId'>source</label><br />
      <select id='sourceId' name='sourceId'>
        {{#each sources}}
          <option value="{{this.id}}" {{#if (eq this.id ../citation.sourceId)}}selected{{/if}}>{{this.title}}</option>
        {{/each}}
      </select>
    </p>
    <p>
      <label for='location'>Citation Location</label><br />
      <input
        type='text'
        id='location'
        name='location'
        value='{{citation.location}}'
      />
    </p>
    <p>
      <label for='notes'>Notes</label><br />
      <input type='text' id='notes' name='notes' value='{{citation.notes}}' />
    </p>
  </fieldset>
  <p>
    <button type='submit'>Submit</button>
  </p>
</form>
<form action='/citations/{{citation.id}}?_method=DELETE' method='POST'>
  <button type='submit' class='btn btn-danger'>Delete</button>
</form>