<div>
  <h1><a href='{{source.url}}'>{{source.title}}</a></h1>
  <h2>Source Information</h2>
  <p>Author: {{source.authorFirstName}} {{source.authorLastName}}</p>
  <p>Published: {{source.publishDate}}</p>
  <p>Published By: {{source.publishedBy}}</p>
  <p>Edition: {{source.edition}} Volume: {{source.volume}}</p>
  <a href='/source/{{source.id}}/edit'>Edit</a>
</div>